<!DOCTYPE>
<html>
<form>
  <h2> Please enter an item you like to purchase: <h2>
    <%= @item %>
    <% params[:item].params[:sessions].each do|indivdual_item|%>
    <%= individual_item%>
    <% end %>

</form>
</html>
